@{
    ViewBag.Title = "ClientsList";
}

<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngApp/ngApp.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngControllers/ngClientController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngService/ngCrudService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>


<div class="content-wrapper" ng-app="myapp" ng-controller="newClientController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="header-title">
            <h1>Client</h1>
            <small>Client List</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-body">
                        <div class="table-responsive">
                            Search <input type="text" ng-model="search" placeholder="Enter text to search" />
                            <table id="dataTableExample1" class="table table-bordered table-striped tab-le-hover" style="margin-top:20px">
                                <thead>
                                    <tr class="info">

                                        <th>
                                            <a href=""
                                               ng-click="orderByField='SAID'; reverseSort = !reverseSort">
                                                SAID
                                            </a>
                                        </th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Mobile</th>
                                        <th>EmailId</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="client in ClientList | orderBy:orderByField:reverseSort | filter: search  ">

                                        <td>{{client.SAID}}</td>
                                        <td>{{client.FirstName}}</td>
                                        <td>{{client.LastName}}</td>
                                        <td>{{client.MobileNumber}}</td>
                                        <td>{{client.EmailID}}</td>
                                        <td>{{client.Status}}</td>
                                        <td>
                                            <button type="button" class="btn btn-add btn-sm" data-toggle="modal" title="Edit" data-target="#Edit" ng-click="GetDetails(client)"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" title="Delete" data-target="#Delete" ng-click="GetDetails(client)"><i class="fa fa-trash-o"></i> </button>
                                            <button type="button" class="btn btn-add btn-sm" data-toggle="modal" title="Validate" data-target="#Validate" ng-click="GetByName(client)"><i class="fa fa-user"></i></button>
                                            <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#ClientFeedback" title="Client Feedback" ng-click="GetDetails(client)"><i class="fa fa-comments"></i></button>
                                            <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#Status" title="Status" ng-click="GetStatusByID(client)"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- customer Modal1 -->
        <div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <div class="col-sm-6">
                            <h3><i class="fa fa-user m-r-5"></i> Update Client</h3>
                        </div>
                        <div class="col-sm-6 form-group" style="color:green;text-align:left;font-weight:bold;margin-top:21px" ng-show="successMessagebool ">
                            {{successMessage}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="panel-body">
                                <div class="col-md-12" style="margin-left:40px">
                                    <form class="form-horizontal" ng-submit="Update(client)">
                                        <fieldset>
                                            <div class="col-lg-12">
                                                <!-- Text input-->
                                                <div class="col-md-4 form-group">
                                                    <label>Title</label>
                                                    <select class="form-control" ng-model="client.Title" required tabindex="1">
                                                        <option value="" selected>Title</option>
                                                        <option value="Mr">Mr</option>
                                                        <option value="Miss">Miss</option>
                                                        <option value="Ms">Ms</option>
                                                        <option value="Mrs">Mrs</option>
                                                        <option value="Dr">Dr</option>
                                                    </select>
                                                </div>
                                                <!-- Text input-->
                                                <div class="col-md-4 form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter First Name" required ng-model="client.FirstName" tabindex="2">
                                                </div>
                                                <!-- Text input-->
                                                <div class="col-md-4 form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Enter last Name" required ng-model="client.LastName" tabindex="3">
                                                </div>

                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-md-4 form-group">
                                                    <label>SA ID</label>
                                                    <input type="text" class="form-control" placeholder="SA ID" ng-model="client.SAID" tabindex="4" readonly>
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label>Company</label>
                                                    <input type="text" class="form-control" placeholder="Company" ng-model="client.CompanyName" required tabindex="5">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label>Company Reg No</label>
                                                    <input type="text" class="form-control" placeholder="Company Registration Number" ng-model="client.CompanyRegNo" required tabindex="6">
                                                </div>

                                            </div>
                                            <div class="col-lg-12">
                                                <div class="col-md-4 form-group">
                                                    <label>Trust</label>
                                                    <input type="text" class="form-control" placeholder="Trust" ng-model="client.TrustName" required tabindex="7">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label>Trust Reg No</label>
                                                    <input type="text" class="form-control" placeholder="Trust Registration Number" ng-model="client.TrustRegNo" required tabindex="8">
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label>Mobile</label>
                                                    <input type="text" class="form-control" id="MobileNumber" placeholder="Enter Mobile" required ng-model="client.MobileNumber" tabindex="9" maxlength="10">
                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-4 form-group">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" placeholder="Enter Email" required ng-model="client.EmailID" tabindex="10">
                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-3 form-group">
                                                    <button type="submit" class="btn btn-add btn-sm">Update</button>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="Close()">Close</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- Modal -->
        <!-- Customer Modal2 -->
        <div class="modal fade" id="Delete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <div class="col-sm-6">
                            <h3><i class="fa fa-user m-r-5"></i> Delete Customer</h3>
                        </div>
                        <div class="col-sm-6 form-group" style="color:green;text-align:left;font-weight:bold;margin-top:21px" ng-show="successMessagebool ">
                            {{successMessage}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="margin-left:40px">
                                <form class="form-horizontal" ng-submit="Delete(client)">
                                    <fieldset>
                                        <div class="col-md-12 form-group user-form-group">
                                            <label class="control-label">Are you sure want to delete the Client?</label>
                                            @*<input type="text" class="form-control" ng-model="client.FirstName" readonly>*@
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-2 form-group">
                                                <button type="submit" class="btn btn-add btn-sm">Delete</button>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="Close()">Close</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="Validate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <div class="col-sm-6">
                            <h3><i class="fa fa-user m-r-5"></i>Validate Customer</h3>
                        </div>
                        <div class="col-sm-6 form-group" style="color:green;text-align:left;font-weight:bold;margin-top:21px" ng-show="successMessagebool ">
                            {{successMessage}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="margin-left:40px">
                                <form class="form-horizontal" ng-submit="AdvisorUpdate()">
                                    <fieldset>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="col-md-4">
                                                <label>Approved By</label>
                                                <select class="form-control" ng-model="selectedAdvisor">
                                                    <option value="" selected>Choose Advisor</option>
                                                    <option ng-repeat="Advisor in Advisors" ng-selected="Advisor.AdvisorID === selectedAdvisor"
                                                            value="{{Advisor.AdvisorID}}">
                                                        {{Advisor.FirstName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <label>Verified On</label>
                                                <input type="date" class="form-control" ng-model="VerifiedOn" value="" placeholder=" enter date...">
                                            </div>

                                        </div>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="col-md-9">
                                                <label>Advisor Feedback</label>
                                                <textarea class="form-control" rows="3" ng-model="AdvisorFeedback" required></textarea>
                                            </div>

                                        </div>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="col-md-3"><label>VerifiedThrough</label></div>

                                            <div class="col-md-4">
                                                <select class="form-control" ng-model="VerifiedThrough">
                                                    <option value="" selected>VerifiedThrough</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="Email">Email</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3 form-group">
                                                <button type="submit" class="btn btn-add btn-sm">Update</button>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="Close()">Close</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Modal -->
        <!-- /.modal -->
        <!-- /.modal -->
        <!-- /.modal -->
        <div class="modal fade" id="ClientFeedback" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <div class="col-sm-6">
                            <h3><i class="fa fa-user m-r-5"></i>Client Feedback</h3>
                        </div>
                        <div class="col-sm-6 form-group" style="color:green;text-align:left;font-weight:bold;margin-top:21px" ng-show="successMessagebool ">
                            {{successMessage}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="margin-left:40px">
                                <form class="form-horizontal" ng-submit="SaveFeedback()">
                                    <fieldset>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="col-md-10">
                                                <label>Client Feedback</label>
                                                <textarea class="form-control" rows="3" ng-model="ClientFeedBack" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3 form-group">
                                                <button type="submit" class="btn btn-add btn-sm">Update</button>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="Close()">Close</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="Status" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-primary">
                        <div class="col-sm-6">
                            <h3><i class="fa fa-user m-r-5"></i>Status</h3>
                        </div>
                        <div class="col-sm-6 form-group" style="color:green;text-align:left;font-weight:bold;margin-top:21px" ng-show="successMessagebool ">
                            {{successMessage}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" style="margin-left:80px">
                                <form class="form-horizontal" ng-submit="StatusUpdate(client)">
                                    <fieldset>
                                        <div class="col-md-12 form-group user-form-group">
                                            <div class="col-md-5">
                                                <select class="form-control" ng-model="selectedStatus">
                                                    <option value="" selected>Choose Status</option>
                                                    <option ng-repeat="Status in Statues" ng-selected="Status.StatusID === selectedStatus"
                                                            value="{{Status.StatusID}}">
                                                        {{Status.Status}}
                                                    </option>
                                                </select>

                                            </div>
                                            @*<input type="text" class="form-control" ng-model="client.FirstName" readonly>*@

                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3 form-group">
                                                <button type="submit" class="btn btn-add btn-sm">Update</button>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="Close()">Close</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </section>
    <!-- /.content -->
</div>
<script type="text/javascript">
    $("#MobileNumber").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });
    $("#MobileNumber").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "");
            $(this).val(val);
        }
    });
</script>