@{
    ViewBag.Title = "AdvisorList";
}


<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngApp/ngApp.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngService/ngCrudService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngControllers/ngAdvisorController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
<div class="content-wrapper" ng-controller="Advisor" ng-app="myapp">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="header-title">
            <h1>Advisor List</h1>
            <small></small>

        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="btn-group">
                        </div>
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="table-responsive">
                            Search <input type="text" ng-model="search" placeholder="Enter text to search" />

                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover" style="margin-top:20px">
                                <thead>
                                    <tr class="info">
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Mobile Number</th>
                                        <th>Email</th>
                                        <th>Designation</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="Advisor in AdvisorList | filter: search">

                                        <td>{{Advisor.FirstName}}</td>
                                        <td>{{Advisor.LastName}}</td>
                                        <td>{{Advisor.Mobile}}</td>
                                        <td>{{Advisor.EmailID}}</td>
                                        <td>{{Advisor.Designation}}</td>
                                        <td>
                                            <button type="button" class="btn btn-add btn-sm" data-toggle="modal" title="Edit" data-target="#Update" ng-click="GetDetails(Advisor)"><i class="fa fa-pencil"></i></button>
                                            @*<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" title="Delete" data-target="#Delete" ng-click="GetDetails(Advisor)"><i class="fa fa-trash-o"></i> </button>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- customer Modal1 -->
        <div class="row">
            <div class="col-sm-12">
                <div class="modal fade" id="Update" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal-header-primary">
                                <div class="col-sm-6"><h3><i class="fa fa-user m-r-5"></i> Update Advisor</h3></div>  
                                <div class="col-sm-6 form-group" style="color:green;text-align:left;font-weight:bold;margin-top:21px" ng-show="successMessagebool ">
                                    {{successMessage}}
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="panel-body">
                                        <div class="col-md-12" style="margin-left:40px">
                                            <form class="form-horizontal" ng-submit="Update(Advisor)">
                                                <fieldset>
                                                    <div class="col-lg-12">
                                                        <div class="col-md-4 form-group">
                                                            <label>First Name</label>
                                                            <input type="text" class="form-control" placeholder="Enter First Name" required ng-model="Advisor.FirstName">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Last Name</label>
                                                            <input type="text" class="form-control" placeholder="Enter last Name" required ng-model="Advisor.LastName">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Mobile</label>
                                                            <input type="text" class="form-control" placeholder="Enter Mobile" required ng-model="Advisor.Mobile" id="MobileNumber" name="MobileNumber">
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-md-4 form-group">
                                                            <label>Phone</label>
                                                            <input type="text" class="form-control" placeholder="Enter Phone" ng-model="Advisor.Phone" id="PhoneNumber" name="PhoneNumber">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Email</label>
                                                            <input type="email" class="form-control" placeholder="Enter Email" required ng-model="Advisor.EmailID">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Login ID</label>
                                                            <input type="text" class="form-control" placeholder="Login ID" ng-model="Advisor.LoginId" required>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-md-4 form-group">
                                                            <label>Password</label>
                                                            <input type="password" class="form-control" placeholder="Password" required id="password" ng-model="Advisor.Password">
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Designation</label>
                                                            <select class="form-control" required id="Designation" ng-model="DestinationSelected">
                                                                <option value="" selected>Choose Designation</option>
                                                                <option ng-repeat="Designation in DesignationTypes" ng-selected="Designation.DesignationID === DestinationSelected"
                                                                        value="{{Designation.DesignationID}}">
                                                                    {{Designation.Designation}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Branch</label>
                                                            <select class="form-control" ng-model="BranchSelected" required>
                                                                <option value="" selected>Choose Branch</option>
                                                                <option ng-repeat="Branch in Branchs" ng-selected="Branch.BranchID === BranchSelected"
                                                                        value="{{Branch.BranchID}}">
                                                                    {{Branch.BranchName}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="col-md-4 form-group">
                                                            <label>Advisor Type</label>
                                                            <select class="form-control" ng-model="AdvisorSelected" required>
                                                                <option value="" selected>Choose Advisor Type</option>
                                                                <option ng-repeat="AdvisorType in ConsultantTypes" ng-selected="AdvisorType.AdvisorTypeID === AdvisorSelected"
                                                                        value="{{AdvisorType.AdvisorTypeID}}">
                                                                    {{AdvisorType.AdvisorType}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Status</label>
                                                            <select class="form-control" ng-model="StatusSelected" required>
                                                                <option value="" selected>Choose Status</option>
                                                                <option ng-repeat="Status in Statues" ng-selected="Status.AdvisorStatusID === StatusSelected"
                                                                        value="{{Status.AdvisorStatusID}}">
                                                                    {{Status.AdvisorStatus}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4 form-group">
                                                            <label>Role</label>
                                                            <select class="form-control" ng-model="RoleSelected" required>
                                                                <option value="" selected>Choose Role</option>
                                                                <option ng-repeat="AdvisorRole in AdvisorRoleTypes" ng-selected="AdvisorRole.RoleID === RoleSelected"
                                                                        value="{{AdvisorRole.RoleID}}">
                                                                    {{AdvisorRole.Role}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="col-md-3 form-group">
                                                            <button type="submit" class="btn btn-add btn-sm">Update</button>
                                                        </div>
                                                        <div class="col-md-3 form-group">
                                                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-click="Close()">Close</button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>

        <!-- /.modal -->
        <!-- Modal -->

    </section>
    <!-- /.content -->
</div>

<script type="text/javascript">

    function ValidateNo() {
        var mobilenumber = document.getElementById("MobileNumber");

        if (mobilenumber.value.length < 10 || mobilenumber.value.length > 10) {
            MobileNumber.setCustomValidity("Please enter Valid Mobile Number.");
        }
        else {
            MobileNumber.setCustomValidity('');
        }
    }
    MobileNumber.onkeyup = ValidateNo;

    $("#MobileNumber").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });
    $("#MobileNumber").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "");
            $(this).val(val);
        }
    });


    $("#PhoneNumber").bind('keypress', function (e) {
        if (e.keyCode == '9' || e.keyCode == '16') {
            return;
        }
        var code;
        if (e.keyCode) code = e.keyCode;
        else if (e.which) code = e.which;
        if (e.which == 46)
            return false;
        if (code == 8 || code == 46)
            return true;
        if (code < 48 || code > 57)
            return false;
    });
    $("#PhoneNumber").bind('mouseenter', function (e) {
        var val = $(this).val();
        if (val != '0') {
            val = val.replace(/[^0-9]+/g, "");
            $(this).val(val);
        }
    });

</script>


